%h2
  = link_to team.name, teams_path(team)
  (
  = team.owned_stories.active_stories.count
  \/
  = team.owned_stories.active_stories.sum('stories.estimate')
  |
  = team.owned_stories.count
  \/
  = team.owned_stories.sum('stories.estimate')
  )
.clear
= render :partial => 'member', :collection => team.members
%br